APP_PORT=8088
SPRING_PROFILES_ACTIVE=dev

POSTGRES_DB=notification_db
POSTGRES_USER=notification_user
POSTGRES_PASSWORD=s3cr3t
POSTGRES_PORT=5439
POSTGRES_SCHEMA=notification

KAFKA_PORT=9092
KAFKA_UI_PORT=8090

JWT_SECRET=change-me-to-a-64-char-secret-in-production
